* {
    font-family: Helvetica, Sans-Serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    overflow-x:hidden;
}
    







.containerNav {
    display: flex;
    background-color: #101010;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 100;
}

.areaLogoNav {
    flex: 3;
    background-color: none;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 80%;
    width: 180px;
    background-color: none;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #202020;
    border: 1px solid white;

}
.containerLogo img {
    height: 100%;
    cursor: pointer;
    
}

.areaSearch {
    flex: 4;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerSearch {  
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: #202020;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerSearch:hover {
  background-color: #303030 ;
  transition: 0.5s;
}
.containerSearch input {
    flex: 4;
    border-radius: 20px;
    height: 100%;
    border: none;
    font-size: 14px;
    text-align: start;
    padding-left: 10px;
    outline: none;
    background-color: white;
}

.containerSearch input::placeholder {
    color: #101010;
    font-size: 14px;
    font-weight: 100;
    text-align: start;
    font-style: italic;
}

.containerSearch i {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

.navItem {
    flex: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: none;
    padding-right: 10px;
    margin-top: 20px;
    background-color: none;
    cursor: pointer;
}

.navItem h5 {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
}

.navItem h5:hover {
    scale: 1.05;
    transition: 0.2s;
}

.buttonNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 10px;
    background-color: #202020;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 5px;
}
.buttonNav:hover {
  background-color: #404040 ;
  scale: 1.02;
  transition: 0.2s;
}
.buttonNav h5 {
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    outline: none;
}
.buttonNav i {
    font-size: 16px;
    color: white;

}
.sezioneHeader{
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.Header{
    height: 200px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0px;
    z-index: 200;
}

.Header h2 {
    margin-left: 40px;
    font-size: medium;
    margin-top: 150px;
    color: #cacaca;
    font-size: 40px;
    font-weight: 700;
}
.areaSuggeriti {
    height:150px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 10px;
    border-bottom: #303030 1px;
}
.Suggeriti{
    height: 50px;
    width: 50%;
    background-color: none;
    display: flex;
    justify-content: start;
    align-items: end;
    margin-left: 30px;
    margin-bottom: 20px;
}

.Suggeriti h6 {
    color: white;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-weight: 500;
}
.buttonSuggerimento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-left: 20px;
    width: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #202020;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2px;
    cursor: pointer;
    font-weight: 500;
}

.buttonSuggerimento:hover {
  background-color: #404040 ;
  scale: 1.02;
  transition: 0.2s;
}

@media only screen and (max-width: 500px) {
    .buttonSuggerimento{
        margin-left: 8px;
        height: 55%;
        width: 120px;
    }
    .Suggeriti {
        margin-left: 5px;
        
      
    }
    .areaSuggeriti {
        height: 100px;
        
    }
    .Header h2 {
        margin-left: 20px;
        font-size: medium;
        margin-top: 150px;
        color: #cacaca;
        font-size: 30px;
        font-weight: 700;
    }
    .buttonNav h5 {
        display: none;
        
    }
    .containerSearch {
        margin-left: 20px;
    }
    .containerLogo{
        height: 65%;
        width: 150px;
    }


        
    
}
@media only screen and (max-width: 650px) {
    .navItem h5 {
        display: none;
    }
    .containerSearch {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: white;
    }
}

@media only screen and (max-width: 720px) {
    .Annunci{
        display: none;
    }


}

.buttonSuggerimento h6 {
    color: white;
    text-align: center;
    margin-left: 0px;
    font-weight: 100;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
    
}
#containerCard{
    height: auto;
    width: 100%;
    background-color: #404040;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

#cardProdotto{
    background-color: #202020;
    height: 600px;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imgCard{
    flex: 4;
    background-color: none;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 10px;
    border: none;
}

.imgCard img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
.descrizioneProdotto{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202020;
    
    
}

.titoloProdotto{
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    bottom: 10px;
}

.prezzoProdotto{
    margin-left: 5px;
    color: red;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    font-weight: 500;
}


.buttonProdotto{
    flex: 0.5;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buttonAggiungiCarello{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px;
    height: 70%;
    width: 200px;
    margin-bottom: 20px;
}

.buttonAggiungiCarello:hover{
    background-color: #909090;
    scale: 1.04;
    transition: 0.2s;
}
.buttonAggiungiCarello:hover h6, .buttonAggiungiCarello:hover i{ 
    color: black;
}

.buttonAggiungiCarello h6{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}
.buttonAggiungiCarello i{
    color: white;
    font-size: 20px;
    
   
}
.footer{
    background:#101010;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
 
    .footer .iconAndLink{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .iconAndLink a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .iconAndLink a:hover{
    color:#fff;
    }
    
    .footer .iconAndLink ul{
    width:100%;
    }
    
    .footer .iconAndLink ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .iconAndLink a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .iconAndLink ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .iconAndLink a i{
    margin:0% 3%;
    }
    }
