* {
    font-family: Helvetica, Sans-Serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #050505;
    overflow-x: hidden;
}







.containerNav {
    display: flex;
    background-color: #070707;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding-bottom: 12px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 100000;
}

.areaLogoNav {
    flex: 3;
    background-color: none;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 80%;
    width: 180px;
    background-color: none;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
  
}

.containerLogo:hover {
    scale: 1.05;
    transition: 0.5s;

}

.containerLogo img {
    height: 100%;
    cursor: pointer;

}

.areaSearch {
    flex: 4;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerSearch {
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: #202020;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.containerSearch:hover {
    background-color: #303030;
    transition: 0.5s;
}

.containerSearch input {
    flex: 4;
    border-radius: 20px;
    height: 100%;
    border: none;
    font-size: 14px;
    text-align: start;
    padding-left: 10px;
    outline: none;
    background-color: #bababa;
    display: none;
}

.containerSearch input::placeholder {
    color: black;
    background-color: #bababa;
    font-size: 14px;
    font-weight: 100;
    text-align: start;
    font-style: italic;
}

.containerSearch i {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
    display: none;
}

.navItem {
    flex: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: none;
    padding-right: 10px;
    margin-top: 10px;
    background-color: none;
    cursor: pointer;
}



.navItem h5 {
    margin-right: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.781);
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.navItem h5:hover {
    scale: 1.05;
    transition: 0.2s;
    color: white;
}

.buttonNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: auto;
    padding: 10px;
    background-color: #20202088;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 5px;
    transform: 1s ease-in-out;
    border: none;
}

.buttonNav:hover {
    background-color: #303030;
    scale: 1.01;
    transition: 0.2s;
    border: 1px solid white;
}

.buttonNav h5 {
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    outline: none;
}

.buttonNav i {
    font-size: 16px;
    color: white;

}

.sezioneHeader {
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.Annunci{
    text-wrap: nowrap;
}

.Header {
    height: 200px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0px;
    z-index: 200;
}

.Header h2 {
    margin-left: 120px;
    font-size: medium;
    margin-top: 150px;
    color: #cacaca;
    text-shadow: #101010 2px 2px 2px;
    font-size: 40px;
    font-weight: 700;
}

.containerFiltroCatalogo{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 140px;
    background-color: none;
    width: 100%;
    padding-bottom: 20px;
}

.buttonFiltroCatalogo{
    height: 55%;
    width: 200px;
    margin-left: 30px;
    background-color: rgb(228, 217, 217);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
}
.buttonFiltroCatalogo h6{
    color: rgba(0, 0, 0, 0.644);
    font-size: 12px;
    font-weight: 880;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.categoryCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 19px;
    font-weight: 900;
    outline: none;
}

.categoryCatalogo option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}
.priceCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 20px;
    font-weight: 900;
    outline: none;
}

.priceCatalogo option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.nomeArticoloCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    margin-bottom: 2px;
}
.buttonRicercaCatalogo{
    height: 55%;
    width: 200px;
    margin-left: 20px;
    background-color: #404040;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.buttonRicercaCatalogo h6{
    color: white;
    font-size: 20px;
    font-weight: 880;
}
.buttonRicercaCatalogo i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttonRicercaCatalogo:hover{
    background-color: #707070;
    transition: 0.5s;
    border: 1px solid white;
    
}
.buttonRicercaCatalogo:hover h6{
    color: black;
    transition: 0.5s;
}
.buttonRicercaCatalogo:hover i{
    color: black;
    transition: 0.5s;
}


@media only screen and (max-width: 500px) {


    .Header h2 {
        margin-left: 20px;
        font-size: medium;
        margin-top: 150px;
        color: #cacaca;
        font-size: 30px;
        font-weight: 700;
    }

    .buttonNav h5 {
        display: none;

    }

    .containerSearch {
        margin-left: 20px;
    }

    .containerLogo {
        height: 65%;
        width: 150px;
    }




}

@media only screen and (max-width: 650px) {
    .navItem h5 {
        display: none;
    }

    .containerSearch {
        display: none;
    }

    ::-webkit-input-placeholder {
        color: white;
    }
}

@media only screen and (max-width: 720px) {
    .Annunci {
        display: none;
    }


}



#containerCard {
    height: auto;
    width: 100%;
    background-color: #353535;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#loadingProdotti{
    height: auto;
    width: 100%;
    background-color: #353535;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s opacity;
    
}


#cardProdotto {
    background-color: #202020;
    height: 500px;
    border-radius: 10px;
    width: 320px;
    margin: 10px;
    padding-top: 5px;
    padding: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 1s ease-in-out;
}

.imgCard {
    flex: 3;
    background-color: none;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.imgCard img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.testoCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202020;
}


.titoloProdotto {
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
}


.descrizioneArticoloCard{
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 13px;
    /* ridurre la descrizione */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}



.buttonProdotto {
    flex: 0.5;
    background-color: #202020;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prezzoProdotto {
    margin-left: 5px;
    margin-right: 40px;
    color: red;
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
}
.buttonAggiungiCarello {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px;
    height: 70%;
    width: 170px;
    margin-bottom: 10px;
    white-space: nowrap
}

.buttonAggiungiCarello:hover {
    background-color: #909090;
    scale: 1.04;
    transition: 0.2s;
}

.buttonAggiungiCarello:hover h6,
.buttonAggiungiCarello:hover i {
    color: black;
}

.buttonAggiungiCarello h6 {
    color: white;
    text-align: center;
    margin-left: 10px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
    outline: none;
}

.buttonAggiungiCarello i {
    color: white;
    font-size: 20px;


}

.footer {
    background: #070707;
    padding: 30px 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Play', sans-serif;
    text-align: center
}


.footer .iconAndLink {
    width: 100%;
    margin-top: 20px;
    color: gray;
    font-size: 0.8em;
}

.footer .iconAndLink a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .iconAndLink a:hover {
    color: #fff;
}

.footer .iconAndLink ul {
    width: 100%;
}

.footer .iconAndLink ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .iconAndLink a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .iconAndLink ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .iconAndLink a i {
        margin: 0% 3%;
    }
}

/* INIZIO LANDING PAGE */

.annuncioIntro{
    height: 60px;
    width: 100%;
    background-color: white;
    opacity: 1;
    border-bottom: 1px solid #20202031 ;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.annuncioIntro h6{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 30px;
}
.annuncioIntro p{
    color: black;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
    
   
}

.containerImgIntro{
    height: auto;
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenitoreGradient{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    x-index: 100;
    background: linear-gradient(180deg, #070707 0%, rgba(0, 0, 0, 0) 80%);
    transform: rotate(-180deg);
}
.h1Intro{
    text-align: center;
    opacity: 0.9;
    color: rgb(249, 249, 249);
    text-shadow: #101010 2px 2px 2px;
    position: absolute;
    top: 250px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.h1Intro h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.h1Intro h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.containerButtonFiltro{
    background-color: #070707;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonFiltro{
    height: 50%;
    width: 200px;
    margin-left: 30px;
    background-color: rgb(228, 217, 217);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
}
.buttonFiltro h6{
    color: rgba(0, 0, 0, 0.644);
    font-size: 12px;
    font-weight: 880;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.category{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 19px;
    font-weight: 900;
    outline: none;
}

.category option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}
.price{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 20px;
    font-weight: 900;
    outline: none;
}

.price option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.nomeArticolo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    margin-bottom: 8px;
}
.buttonRicerca{
    height: 50%;
    width: 200px;
    margin-left: 20px;
    background-color: #30303096;
    border: 1px solid rgba(255, 255, 255, 0.168);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.buttonRicerca h6{
    color: white;
    font-size: 20px;
    font-weight: 880;
}
.buttonRicerca i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttonRicerca:hover{
    background-color: #707070;
    transition: 0.5s;
    border: 1px solid white;
    
}
.buttonRicerca:hover h6{
    color: black;
    transition: 0.5s;
}
.buttonRicerca:hover i{
    color: black;
    transition: 0.5s;
}

#containerAnteprimaCategorie{
    display: flex;
    overflow: hidden;
    background-color: #050505;
    height: 50vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
   
}

.sottoContainerAnteprime{
    display: flex;
    height: 550px;
    width: auto;
    background-color: none;
    padding-right: 10px;
    margin: 0px;
    background-color: #050505;
    

}

#cardAnteprima{
    display: flex;
    background-color: none;
    height: 50vh;
    width: 25%;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


#cardAnteprima img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

#cardAnteprima:hover{
    transition: 0.7s;
    width: 35%;
    overflow: hidden;  
}

#cardAnteprima:hover img{
    transition: 0.7s;
    transform: scale(1.1);
}

#cardAnteprima h5 {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-shadow: #101010 2px 2px 2px;
    top: 10%;
    left: 5%;
    z-index: 100;
}
#cardAnteprima p {
    position: absolute;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.855);
    font-weight: 100;
    text-shadow: #101010 2px 2px 2px;
    top: 18%;
    left: 5.2%;
    z-index: 100;
}