* {
    font-family: 'Allerta Stencil', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #050505;
    overflow-x: hidden;
    position: relative;
}







.containerNav {
    display: flex;
    background-color: #070707;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding-bottom: 12px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 100000;
}

.areaLogoNav {
    flex: 3;
    background-color: none;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 80%;
    width: 180px;
    background-color: none;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
  
}

.containerLogo:hover {
    scale: 1.05;
    transition: 0.5s;

}

.containerLogo img {
    height: 100%;
    cursor: pointer;

}

.areaSearch {
    flex: 4;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerSearch {
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: #202020;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.containerSearch:hover {
    background-color: #303030;
    transition: 0.5s;
}

.containerSearch input {
    flex: 4;
    border-radius: 20px;
    height: 100%;
    border: none;
    font-size: 14px;
    text-align: start;
    padding-left: 10px;
    outline: none;
    background-color: #bababa;
    display: none;
}

.containerSearch input::placeholder {
    color: black;
    background-color: #bababa;
    font-size: 14px;
    font-weight: 100;
    text-align: start;
    font-style: italic;
}

.containerSearch i {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
    display: none;
}

.navItem {
    flex: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: none;
    padding-right: 10px;
    margin-top: 10px;
    background-color: none;
    cursor: pointer;
}



.navItem h5 {
    margin-right: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.781);
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.navItem h5:hover {
    scale: 1.05;
    transition: 0.2s;
    color: white;
}

.buttonNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: auto;
    padding: 10px;
    background-color: #20202088;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 5px;
    transform: 1s ease-in-out;
    border: none;
}

.buttonNav:hover {
    background-color: #303030;
    scale: 1.01;
    transition: 0.2s;
    border: 1px solid white;
}

.buttonNav h5 {
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    outline: none;
}

.buttonNav i {
    font-size: 16px;
    color: white;

}

.sezioneHeader {
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.Annunci{
    text-wrap: nowrap;
}

.Header {
    height: 200px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0px;
    z-index: 200;
}

.Header h2 {
    margin-left: 120px;
    font-size: medium;
    margin-top: 150px;
    color: #fbfbfb;
    text-shadow: #101010 2px 2px 2px;
    font-size: 40px;
    font-weight: 700;
}

.containerFiltroCatalogo{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 140px;
    background-color: none;
    width: 100%;
    padding-bottom: 20px;
}

.buttonFiltroCatalogo{
    height: 55%;
    width: 200px;
    margin-left: 30px;
    background-color: rgb(228, 217, 217);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
}
.buttonFiltroCatalogo h6{
    color: rgba(0, 0, 0, 0.644);
    font-size: 12px;
    font-weight: 880;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.categoryCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 19px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.categoryCatalogo option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}
.priceCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 20px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.priceCatalogo option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.nomeArticoloCatalogo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    margin-bottom: 2px;
}
.buttonRicercaCatalogo{
    height: 55%;
    width: 200px;
    margin-left: 20px;
    background-color: #404040;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.buttonRicercaCatalogo h6{
    color: white;
    font-size: 20px;
    font-weight: 880;
}
.buttonRicercaCatalogo i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttonRicercaCatalogo:hover{
    background-color: #707070;
    transition: 0.5s;
    border: 1px solid white;
    
}
.buttonRicercaCatalogo:hover h6{
    color: black;
    transition: 0.5s;
}
.buttonRicercaCatalogo:hover i{
    color: black;
    transition: 0.5s;
}


@media only screen and (max-width: 500px) {


    .Header h2 {
        margin-left: 20px;
        font-size: medium;
        margin-top: 150px;
        color: #cacaca;
        font-size: 30px;
        font-weight: 700;
    }

    .buttonNav h5 {
        display: none;

    }

    .containerSearch {
        margin-left: 20px;
    }

    .containerLogo {
        height: 65%;
        width: 150px;
    }




}

@media only screen and (max-width: 650px) {
    .navItem h5 {
        display: none;
    }

    .containerSearch {
        display: none;
    }

    ::-webkit-input-placeholder {
        color: white;
    }
}

@media only screen and (max-width: 720px) {
    .Annunci {
        display: none;
    }


}



#containerCard {
    height: auto;
    width: 100%;
    background-color: #353535;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#loadingProdotti{
    height: auto;
    width: 100%;
    background-color: #353535;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s opacity;
    
}


#cardProdotto {
    background-color: #202020;
    height: 500px;
    border-radius: 10px;
    width: 320px;
    margin: 10px;
    padding-top: 5px;
    padding: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 1s ease-in-out;
}

.imgCard {
    flex: 3;
    background-color: none;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.imgCard img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.testoCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202020;
}


.titoloProdotto {
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
}


.descrizioneArticoloCard{
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 13px;
    /* ridurre la descrizione */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}



.buttonProdotto {
    flex: 0.5;
    background-color: #202020;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prezzoProdotto {
    margin-left: 5px;
    margin-right: 40px;
    color: red;
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
}
.buttonAggiungiCarello {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px;
    height: 70%;
    width: 170px;
    margin-bottom: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.buttonAggiungiCarello:hover {
    background-color: #909090;
    scale: 1.04;
    transition: 0.2s;
}

.buttonAggiungiCarello:hover h6,
.buttonAggiungiCarello:hover i {
    color: black;
}

.buttonAggiungiCarello h6 {
    color: white;
    text-align: center;
    margin-left: 10px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
    outline: none;
}

.buttonAggiungiCarello i {
    color: white;
    font-size: 20px;


}

.footer {
    background: #070707;
    padding: 30px 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Play', sans-serif;
    text-align: center
}


.footer .iconAndLink {
    width: 100%;
    margin-top: 20px;
    color: gray;
    font-size: 0.8em;
}

.footer .iconAndLink a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .iconAndLink a:hover {
    color: #fff;
}

.footer .iconAndLink ul {
    width: 100%;
}

.footer .iconAndLink ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .iconAndLink a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .iconAndLink ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .iconAndLink a i {
        margin: 0% 3%;
    }
}

/* INIZIO LANDING PAGE */

.annuncioIntro{
    height: 60px;
    width: 100%;
    background-color: white;
    opacity: 1;
    border-bottom: 1px solid #20202031 ;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.annuncioIntro h6{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 30px;
}
.annuncioIntro p{
    color: black;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
    
   
}

.containerImgIntro{
    height: auto;
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerImgIntro img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.contenitoreGradient{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 101%;
    width: 100%;
    background-color: black;
    Z-index: 100;
    background: linear-gradient(180deg, #070707 0%, rgba(0, 0, 0, 0) 80%);
    transform: rotate(-180deg);
}
.h1Intro{
    text-align: center;
    color: white;
    text-shadow: #101010 2px 2px 2px;
    position: absolute;
    top: 250px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    Z-index: 200;
}

.h1Intro h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.h1Intro h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.containerButtonFiltro{
    background-color: #070707;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonFiltro{
    height: 50%;
    width: 200px;
    margin-left: 30px;
    background-color: rgb(228, 217, 217);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
}


.buttonFiltro h6{
    color: rgba(0, 0, 0, 0.644);
    font-size: 12px;
    font-weight: 880;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.category{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 19px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.category option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
   
}
.price{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 20px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.price option{
    color: black;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.nomeArticolo{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 217, 217);
    color: black;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    margin-bottom: 8px;
}
.buttonRicerca{
    height: 50%;
    width: 200px;
    margin-left: 20px;
    background-color: #30303096;
    border: 1px solid rgba(255, 255, 255, 0.168);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.buttonRicerca h6{
    color: white;
    font-size: 20px;
    font-weight: 880;
}
.buttonRicerca i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.buttonRicerca:hover{
    background-color: #707070;
    transition: 0.5s;
    border: 1px solid white;
    
}
.buttonRicerca:hover h6{
    color: black;
    transition: 0.5s;
}
.buttonRicerca:hover i{
    color: black;
    transition: 0.5s;
}

#containerAnteprimaCategorie{
    display: flex;
    overflow: hidden;
    background-color: #050505;
    height: 50vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
   
}

.sottoContainerAnteprime {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: none;
    padding-right: 10px;
    margin: 0px;
    background-color: #050505;
    gap: 5px; /* Spazio tra le card */
    transition: flex 0.7s; /* Aggiungi una transizione per animare lo stringimento */
}

#cardAnteprima {
    display: flex;
    background-color: none;
    height: 100%;
    width: 25%;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 1; /* Le card possono stringersi */
    flex-grow: 1; /* Le card possono crescere */
}

#cardAnteprima:hover {
    transition: 0.7s;
    width: 35%;
    flex-grow: 3; /* Aumenta la crescita delle card in hover */
    flex-shrink: 0; /* Evita lo stringimento delle card in hover */
}


#cardAnteprima img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}


#cardAnteprima:hover img{
    transition: 0.7s;
    transform: scale(1.1);
}

#cardAnteprima h5 {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-shadow: #101010 2px 2px 2px;
    top: 10%;
    left: 5%;
    z-index: 100;
}
#cardAnteprima p {
    position: absolute;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.855);
    font-weight: 100;
    text-shadow: #101010 2px 2px 2px;
    top: 18%;
    left: 5.2%;
    z-index: 100;
}

/* SEZIONE CARUSEL JEWELERY */
.containerCategoryJewelery{
    height: auto;
    width: 100%;
    background-color: #090909;
    position: relative;
  
    
}


  
.introCategoryJewelery{
    height: 60vh;
    width: 100%;
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}
.containerTestoIntroCategoryJewelery{
    flex:1;
    height: 100%;
    background-color: #090909;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.containerTestoIntroCategoryJewelery h2,p {
    color: white;
    font-weight: 300;
    background-color: none;
}

.containerTestoIntroCategoryJewelery h5{
    margin-top: 20px;
    color: white;
    margin-bottom: 30px;
    background-color: none;
}
.containerImgIntroCategoryJewelery{
    flex:1.5;
    height: 100%;
    background-color: #090909;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: end;
 
 
}
.containerImgIntroCategoryJewelery img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    opacity: 0.9;
}
.caruselCatagoryJewelery{
    margin-top: 10px;
    height: auto;
    width: 100%;
    display:flex;   
    overflow-x:hidden;
    scroll-behavior: smooth;
   
    
}
.containerCardCarusel{
    display: flex;
    background-color: none;

}

.carousel-arrow {
    position: absolute;
    top: 87vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.386);
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    color: black;
    padding: 0;
    cursor: pointer;
    transition: opacity 100ms;
  }
  
  .carousel-arrow:hover,
  .carousel-arrow:focus {
    opacity: 1;
  }
  
  .carousel-arrow--prev {
    left: 0;
  }
  
  .carousel-arrow--next {
    right: 0;
  }

  #cardProdottoCarusel {
    height: 450px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    width: 300px;
    aspect-ratio: 1;
    margin: 10px;
    padding-top: 5px;
    padding: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }


.imgCardCarusel {
    flex: 3;
    background-color: none;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.imgCardCarusel img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.testoCardCarusel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.titoloProdottoCarusel {
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
}


.descrizioneArticoloCardCarusel{
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 5px;
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 13px;
    /* ridurre la descrizione */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}



.buttonProdottoCarusel {
    flex: 0.5;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.prezzoProdottoCarusel {
    margin-left: 5px;
    margin-right: 20px;
    color: red;
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
    text-wrap: nowrap;
}
.buttonAggiungiCarelloCarusel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px;
    height: 70%;
    width: 170px;
    margin-bottom: 10px;
    margin-right: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.buttonAggiungiCarelloCarusel:hover {
    background-color: rgba(255, 255, 255, 0.758);
    scale: 1.04;
    transition: 0.2s;
}

.buttonAggiungiCarelloCarusel:hover h6,
.buttonAggiungiCarelloCarusel:hover i {
    color: black;
}

.buttonAggiungiCarelloCarusel h6 {
    color: white;
    text-align: center;
    margin-left: 10px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
    outline: none;
}

.buttonAggiungiCarelloCarusel i {
    color: white;
    font-size: 20px;


}
/* SEZIONE ANNUNCIO ELECTRONICS */
.introCategoryElectronics{
    height: 80vh;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerIntroElectronics1{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    flex: 3;
    height: 100%;
    width: 100%;
    background-image: url(./image/black-1072366_1280.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleIntroImgElectronics1{
    
    background-color: none;
    margin-bottom: 20px;
}
.titleIntroImgElectronics1 h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: #101010 2px 2px 2px;
    margin-bottom:10px;
    padding: 0px;

}
.titleIntroImgElectronics1 p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-shadow: #101010 2px 2px 2px;
    margin: 0px;
    padding: 0px;
}

.containerImgElectronics1{
    height: 400px;
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: end;
}
.containerImgElectronics1 img{
    height: 400px;
    width: 300;
    object-fit: cover;
}
.containerIntroImgParentalControl{
    margin: 10px;
    flex: 1.5;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-image: url(./image/pexels-cottonbro-studio-5998824.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.titleParentalControl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: none;
    margin-bottom: 20px;
    padding: 20px;
}
.titleParentalControl h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: #101010 2px 2px 2px;
    margin-bottom:10px;
    padding: 0px;
}
.titleParentalControl p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-shadow: #101010 2px 2px 2px;
    margin: 0px;
    padding: 0px;
}

/* FINE LANDING PAGE */

/* INIZIO PAGINA PRODOTTO */

.containerProdottoDettaglio{
    height: 100vh;
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgProdottoDettaglio{
    flex:1;
    height: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDettaglio{
    height: 80%;
    width: 450px;
    margin: 0px;
    padding: 0px;
    margin-left: 200px;
    margin-top: 80px; 
    background-color: #101010;
}

.imgDettaglio img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

.containerDescrizioneProdottoDettaglio{
    flex:1;
    height: 100%;
    background-color: #303030;
    display: flex;
    justify-content: start;
   

    align-items: center;
   
}
.titoloDescrizioneProdotto{
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: #101010 2px 2px 2px;
    margin-bottom: 30px;
    background-color: none;
}
.titoloDescrizioneProdotto h2{
    font-size: 35px;
}
.testoDescrizioneProdotto{
    margin-left: 50px;
    font-weight: 500;
    color: white;
    text-shadow: #101010 2px 2px 2px;
    margin-bottom: 30px;
    background-color: none;
    padding-right: 200px;
}

.testoDescrizioneProdotto h5{
    font-size: 15px;
    line-height: 20px;
}
.prezzoDescrizioneProdotto{
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.716);
    text-shadow: #101010 2px 2px 2px;
    margin-bottom: 30px;
    background-color: none;
    margin-left: 50px;
}

.TagliaDescrizione{
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 70%;
    margin-left: 50px;

}

#selezionaTaglia{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.btnTagliaDescrizione{
    height: 40px;
    width: 95%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.btnTagliaDescrizione h6{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    font-size: 19px;
    margin-top: 5px;
}
.btnTagliaDescrizione i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btnTagliaDescrizione:hover{
    background-color: white;
    transition: 0.5s;
    border: 1px solid #101010;
    
    
}
.btnTagliaDescrizione:hover h6{
    color: black;
    transition: 0.5s;
}
.btnTagliaDescrizione:hover i{
    color: black;
    transition: 0.5s;
}
.containerBtnIcon{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 50px;
    width: 100%;
    background-color: none;
    margin-top: 10px;
}
.containerHeart{
    height: 37px;
    width: 37px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}
.containerHeart:hover{
    background-color: #101010;
    transition: 0.5s;
    color: white;
}


/* MODALE REGISTRATI */

.containerModaleRegistrati{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.672);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    z-index: 1000;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 15vh;
    justify-content: center;
    box-sizing: border-box;
    align-items: start;
    display: none;
    transition: 0.2s opacity ease-in-out;
}

.containerModaleRegistrati h1 {
	font-weight: bold;
	margin: 0;
}

.containerModaleRegistrati h2 {
	text-align: center;
}

.containerModaleRegistrati p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.containerModaleRegistrati span {
	font-size: 12px;
}

.containerModaleRegistrati a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border: 1px solid #101010;
	background-color: #101010;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
    border-radius: 10px;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    font-weight: 100;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #101010;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
    border-radius: 10px;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
    display: flex;
}



.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.social-container a:hover {
    background-color: #101010;
    color: white;
    scale: 1.05;
    transition: 0.5s;
}
.bi bi-x-lg{
    font-size: 30px;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #363636;
}